In [1]:
import pandas as pd
import numpy as np
from nltk import word_tokenize

In [3]:
data = pd.read_csv("bbc_text_cls.csv")
data.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [4]:
data.labels.unique()

array(['business', 'entertainment', 'politics', 'sport', 'tech'],
      dtype=object)

In [5]:
data = data.loc[data['labels'] == 'business']

In [10]:
text = data['text']